body{
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
}
.navbar{
  background-color: #7E57C2 !important;
}

input{
  width: 35% !important;
  height: 25px !important;
  padding-bottom: .7rem !important;
  padding-left: .88rem !important;
}

input,.navbar button{
  background-color: rgb(242, 242, 242, 0.3) !important;
  outline: none !important;
  border: none !important;
  box-shadow: none !important;
}

.navbar button{
  position: relative;
  bottom: 0.4rem;
  right: 2.3rem;
  background-color: transparent !important;
  height: 1.8rem !important;

}
 ::placeholder, .fa-search{
  color: rgb(255, 255, 255,0.6) !important;
  font-size: .7rem;
  font-weight: bold;
}

#sach{

  font-family: 'Muli', sans-serif;
  margin-top: 5px !important;
  font-weight: 1200 !important;
  font-size: 1.2rem;
  color: white;
  margin-left: 10px !important;
  margin-right: 90px !important;
}

.navbar{
  justify-content: flex-start !important;
  width: 100% !important;
  justify-content:
}

.fa-cog{
  color: white;
}
#full-page{
  height: 100vh;
  margin-right: 10px;
}

#two{
  background-color:#EBEFF2;
}
#firstrow{
  height: 100vh;
}
.card{
  outline: none !important;
  border: none !important;
}
#api .card{
  background-color: white !important;
}

.fa-home{
  margin-top: 11px;
  color: #7E57C2;
}

#dashboard button{
  color:  #7E57C2;
  font-weight: bold;
}

.chart header{
  position: relative;
  top: 75px;
  color:#34D2EB;
  font-size: 1.6rem;
  font-weight: bold;

}

.chart{
  text-align: center;
}
.fa-dollar-sign
{
  padding: 21px 25px;
  color:#34D2EB;
  border: 1px solid #34D2EB;
  border-radius: 50%;
  background-color: #D7F6FB;
}

.fa-cart-plus
{
  padding: 20px 20px;
  color:#A98FD6;
  border: 1px solid #A98FD6;
  /* border-color: ; */
  border-radius: 100%;
  background-color: #E5DDF4;
}

.fa-chart-bar
{
  padding: 20px 20px;
  color:#34D2EB;
  border: 1px solid #34D2EB;
  /* border-color: ; */
  border-radius: 100%;
  background-color: #D7F6FB;
}

.fa-eye
{
  padding: 20px 20px;
  color:#A98FD6;
  border: 1px solid #A98FD6;
  /* border-color: ; */
  border-radius: 100%;
  background-color: #E5DDF4;
}

img{
  height: 30px;
  width: 30%;
  object-fit:contain;
}

.panel{

  font-size: 15px !important;
}


.table{
  font-size: 1rem !important;
}
.card , .table{
  color: #5F636F !important;
}

.footer{
  margin-top: 10px;
  border-top: 1px solid;
  padding-top: 10px;
  padding-left: 5px;
  font-size: .8rem;
  font-weight: bold;
}
#currency{
  font-weight: bold !important;
  font-size: 1.5rem !important;
}

#view{
  background-color: #7E57C2 !important;
  color: white !important;
}

input[type=text]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=text]::-ms-reveal {  display: none; width : 0; height: 0; }
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {visibility: hidden; }
